h1{
    color: red;
}
h2{
    color: white;
    background-color: red;
    width: 200px;
    height: 55px;
}

.saldo{
    font-weight: bold;
}
div{
    border: 2px solid black;
    margin: 5px;
	padding: 5px;
    width: 220px;
    height: 180px;
    float: left;
}