h1{
    color: red;
}
h2{
    color: white;
    background-color: red;
    width: 200px;
    height: 55px;
}

.saldo{
    font-weight: bold;
}
div.clienti{
    border: 2px solid black;
    margin: 5px;
	padding: 5px;
    width: 220px;
    height: 180px;
    float: left;
}
div.paginazione{
     position:fixed; /* Posiziona rispetto al .container */
  bottom: 0;          /* Lo ancora al fondo del .container */
  width: 100%;
  background-color: white;
  padding: 10px;
  text-align: center;
}
a{
    text-align: center;
    padding-inline: 5px;
}