h1{
    color: red;
}
.div_generato{
    background-color: gray;
    width: 50px;
    height: 50px;
    padding: 10;
}
#divFinale{
    background-color: red;
    color: white;
}
.div_generato1{
    color: red;
}
.div_generato2{
    color: green;
}
.div_generato3{
    color: blue;
}
.div_generato4{
    color: yellow;
}