h1{
    color: red;
}
.div_generato{
    background-color: gray;
    width: 50px;
    height: 50px;
    padding: 10;
}
#divFinale{
    background-color: red;
    color: white;
}
/* Generated classes 
.div_generato1{
    background-color: red;
    width: 50px;
    height: 50px;
    padding: 10;
}
.div_generato2{
    background-color: green;
    width: 50px;
    height: 50px;
    padding: 10;
}
.div_generato3{
    background-color: blue;
    width: 50px;
    height: 50px;
    padding: 10;

}
.div_generato4{
    background-color: yellow;
    width: 50px;
    height: 50px;
    padding: 10;

}
    */